<header>
  <h1>ひとことBBS</h1>
  <ul>
    <li>
      <a href="#">新規投稿</a>
    </li>
  </ul>
</header>
 
<div class="top">
  <h2>いまどうしてる？をつぶやこう</h2>
  <div class="tweets">
    <ul>
      <li>
        田中: こんにちは！
        <span>2017/08/01 12:00:00</span>
      </li>
      <li>
        林田: はじめまして
        <span>2017/08/01 12:03:00</span>
      </li>
      <li>
        斉藤: よろしくおねがいします。
        <span>2017/08/01 12:04:00</span>
      </li>
    </ul>
  </div>
</div>