
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
		<title>7rules &#8211; h.komei</title>
<meta name='robots' content='noindex, nofollow' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="h.komei &raquo; フィード" href="https://def.h-komei.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="h.komei &raquo; コメントフィード" href="https://def.h-komei.com/comments/feed/" />
		<script>
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/def.h-komei.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.2"}};
			!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([10084,65039,8205,55357,56613],[10084,65039,8203,55357,56613])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style>
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='astra-theme-css-css'  href='https://def.h-komei.com/wp-content/themes/astra/assets/css/minified/style.min.css?ver=3.6.0' media='all' />
<style id='astra-theme-css-inline-css'>
html{font-size:93.75%;}a,.page-title{color:#0170B9;}a:hover,a:focus{color:#3a3a3a;}body,button,input,select,textarea,.ast-button,.ast-custom-button{font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;font-weight:inherit;font-size:15px;font-size:1rem;}blockquote{color:#000000;}.site-title{font-size:35px;font-size:2.3333333333333rem;display:block;}.ast-archive-description .ast-archive-title{font-size:40px;font-size:2.6666666666667rem;}.site-header .site-description{font-size:15px;font-size:1rem;display:none;}.entry-title{font-size:30px;font-size:2rem;}h1,.entry-content h1{font-size:40px;font-size:2.6666666666667rem;}h2,.entry-content h2{font-size:30px;font-size:2rem;}h3,.entry-content h3{font-size:25px;font-size:1.6666666666667rem;}h4,.entry-content h4{font-size:20px;font-size:1.3333333333333rem;}h5,.entry-content h5{font-size:18px;font-size:1.2rem;}h6,.entry-content h6{font-size:15px;font-size:1rem;}.ast-single-post .entry-title,.page-title{font-size:30px;font-size:2rem;}::selection{background-color:#0170B9;color:#ffffff;}body,h1,.entry-title a,.entry-content h1,h2,.entry-content h2,h3,.entry-content h3,h4,.entry-content h4,h5,.entry-content h5,h6,.entry-content h6{color:#3a3a3a;}.tagcloud a:hover,.tagcloud a:focus,.tagcloud a.current-item{color:#ffffff;border-color:#0170B9;background-color:#0170B9;}input:focus,input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="reset"]:focus,input[type="search"]:focus,textarea:focus{border-color:#0170B9;}input[type="radio"]:checked,input[type=reset],input[type="checkbox"]:checked,input[type="checkbox"]:hover:checked,input[type="checkbox"]:focus:checked,input[type=range]::-webkit-slider-thumb{border-color:#0170B9;background-color:#0170B9;box-shadow:none;}.site-footer a:hover + .post-count,.site-footer a:focus + .post-count{background:#0170B9;border-color:#0170B9;}.single .nav-links .nav-previous,.single .nav-links .nav-next{color:#0170B9;}.entry-meta,.entry-meta *{line-height:1.45;color:#0170B9;}.entry-meta a:hover,.entry-meta a:hover *,.entry-meta a:focus,.entry-meta a:focus *,.page-links > .page-link,.page-links .page-link:hover,.post-navigation a:hover{color:#3a3a3a;}.widget-title{font-size:21px;font-size:1.4rem;color:#3a3a3a;}#cat option,.secondary .calendar_wrap thead a,.secondary .calendar_wrap thead a:visited{color:#0170B9;}.secondary .calendar_wrap #today,.ast-progress-val span{background:#0170B9;}.secondary a:hover + .post-count,.secondary a:focus + .post-count{background:#0170B9;border-color:#0170B9;}.calendar_wrap #today > a{color:#ffffff;}.page-links .page-link,.single .post-navigation a{color:#0170B9;}.main-header-menu .menu-link,.ast-header-custom-item a{color:#3a3a3a;}.main-header-menu .menu-item:hover > .menu-link,.main-header-menu .menu-item:hover > .ast-menu-toggle,.main-header-menu .ast-masthead-custom-menu-items a:hover,.main-header-menu .menu-item.focus > .menu-link,.main-header-menu .menu-item.focus > .ast-menu-toggle,.main-header-menu .current-menu-item > .menu-link,.main-header-menu .current-menu-ancestor > .menu-link,.main-header-menu .current-menu-item > .ast-menu-toggle,.main-header-menu .current-menu-ancestor > .ast-menu-toggle{color:#0170B9;}.header-main-layout-3 .ast-main-header-bar-alignment{margin-right:auto;}.header-main-layout-2 .site-header-section-left .ast-site-identity{text-align:left;}.ast-logo-title-inline .site-logo-img{padding-right:1em;}.ast-header-break-point .ast-mobile-menu-buttons-minimal.menu-toggle{background:transparent;color:#0170B9;}.ast-header-break-point .ast-mobile-menu-buttons-outline.menu-toggle{background:transparent;border:1px solid #0170B9;color:#0170B9;}.ast-header-break-point .ast-mobile-menu-buttons-fill.menu-toggle{background:#0170B9;}.ast-page-builder-template .hentry {margin: 0;}.ast-page-builder-template .site-content > .ast-container {max-width: 100%;padding: 0;}.ast-page-builder-template .site-content #primary {padding: 0;margin: 0;}.ast-page-builder-template .no-results {text-align: center;margin: 4em auto;}.ast-page-builder-template .ast-pagination {padding: 2em;} .ast-page-builder-template .entry-header.ast-no-title.ast-no-thumbnail {margin-top: 0;}.ast-page-builder-template .entry-header.ast-header-without-markup {margin-top: 0;margin-bottom: 0;}.ast-page-builder-template .entry-header.ast-no-title.ast-no-meta {margin-bottom: 0;}.ast-page-builder-template.single .post-navigation {padding-bottom: 2em;}.ast-page-builder-template.single-post .site-content > .ast-container {max-width: 100%;}.ast-page-builder-template.single-post .site-content > .ast-container {max-width: 100%;}.ast-page-builder-template .entry-header {margin-top: 4em;margin-left: auto;margin-right: auto;padding-left: 20px;padding-right: 20px;}.ast-page-builder-template .ast-archive-description {margin-top: 4em;margin-left: auto;margin-right: auto;padding-left: 20px;padding-right: 20px;}.ast-page-builder-template.ast-no-sidebar .entry-content .alignwide {margin-left: 0;margin-right: 0;}.single.ast-page-builder-template .entry-header {padding-left: 20px;padding-right: 20px;}.ast-page-builder-template.ast-no-sidebar .entry-content .alignwide {margin-left: 0;margin-right: 0;}.footer-adv .footer-adv-overlay{border-top-style:solid;border-top-color:#7a7a7a;}.wp-block-buttons.aligncenter{justify-content:center;}@media (min-width:1200px){.ast-separate-container.ast-right-sidebar .entry-content .wp-block-image.alignfull,.ast-separate-container.ast-left-sidebar .entry-content .wp-block-image.alignfull,.ast-separate-container.ast-right-sidebar .entry-content .wp-block-cover.alignfull,.ast-separate-container.ast-left-sidebar .entry-content .wp-block-cover.alignfull{margin-left:-6.67em;margin-right:-6.67em;max-width:unset;width:unset;}.ast-separate-container.ast-right-sidebar .entry-content .wp-block-image.alignwide,.ast-separate-container.ast-left-sidebar .entry-content .wp-block-image.alignwide,.ast-separate-container.ast-right-sidebar .entry-content .wp-block-cover.alignwide,.ast-separate-container.ast-left-sidebar .entry-content .wp-block-cover.alignwide{margin-left:-20px;margin-right:-20px;max-width:unset;width:unset;}}@media (min-width:1200px){.wp-block-group .has-background{padding:20px;}}@media (min-width:1200px){.ast-no-sidebar.ast-separate-container .entry-content .wp-block-group.alignwide,.ast-no-sidebar.ast-separate-container .entry-content .wp-block-cover.alignwide{margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}.ast-no-sidebar.ast-separate-container .entry-content .wp-block-cover.alignfull,.ast-no-sidebar.ast-separate-container .entry-content .wp-block-group.alignfull{margin-left:-6.67em;margin-right:-6.67em;padding-left:6.67em;padding-right:6.67em;}}@media (min-width:1200px){.wp-block-cover-image.alignwide .wp-block-cover__inner-container,.wp-block-cover.alignwide .wp-block-cover__inner-container,.wp-block-cover-image.alignfull .wp-block-cover__inner-container,.wp-block-cover.alignfull .wp-block-cover__inner-container{width:100%;}}.ast-plain-container.ast-no-sidebar #primary{margin-top:0;margin-bottom:0;}@media (max-width:921px){.ast-theme-transparent-header #primary,.ast-theme-transparent-header #secondary{padding:0;}}.wp-block-columns{margin-bottom:unset;}.wp-block-image.size-full{margin:2rem 0;}.wp-block-separator.has-background{padding:0;}.wp-block-gallery{margin-bottom:1.6em;}.wp-block-group{padding-top:4em;padding-bottom:4em;}.wp-block-group__inner-container .wp-block-columns:last-child,.wp-block-group__inner-container :last-child,.wp-block-table table{margin-bottom:0;}.blocks-gallery-grid{width:100%;}.wp-block-navigation-link__content{padding:5px 0;}.wp-block-group .wp-block-group .has-text-align-center,.wp-block-group .wp-block-column .has-text-align-center{max-width:100%;}.has-text-align-center{margin:0 auto;}@media (min-width:1200px){.wp-block-cover__inner-container,.alignwide .wp-block-group__inner-container,.alignfull .wp-block-group__inner-container{max-width:1200px;margin:0 auto;}.wp-block-group.alignnone,.wp-block-group.aligncenter,.wp-block-group.alignleft,.wp-block-group.alignright,.wp-block-group.alignwide,.wp-block-columns.alignwide{margin:2rem 0 1rem 0;}}@media (max-width:1200px){.wp-block-group{padding:3em;}.wp-block-group .wp-block-group{padding:1.5em;}.wp-block-columns,.wp-block-column{margin:1rem 0;}}@media (min-width:921px){.wp-block-columns .wp-block-group{padding:2em;}}@media (max-width:544px){.wp-block-cover-image .wp-block-cover__inner-container,.wp-block-cover .wp-block-cover__inner-container{width:unset;}.wp-block-cover,.wp-block-cover-image{padding:2em 0;}.wp-block-group,.wp-block-cover{padding:2em;}.wp-block-media-text__media img,.wp-block-media-text__media video{width:unset;max-width:100%;}.wp-block-media-text.has-background .wp-block-media-text__content{padding:1em;}}@media (max-width:921px){.ast-plain-container.ast-no-sidebar #primary{padding:0;}}@media (min-width:544px){.entry-content .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content{padding:0 8% 0 0;}.entry-content .wp-block-media-text .wp-block-media-text__content{padding:0 0 0 8%;}.ast-plain-container .site-content .entry-content .has-custom-content-position.is-position-bottom-left > *,.ast-plain-container .site-content .entry-content .has-custom-content-position.is-position-bottom-right > *,.ast-plain-container .site-content .entry-content .has-custom-content-position.is-position-top-left > *,.ast-plain-container .site-content .entry-content .has-custom-content-position.is-position-top-right > *,.ast-plain-container .site-content .entry-content .has-custom-content-position.is-position-center-right > *,.ast-plain-container .site-content .entry-content .has-custom-content-position.is-position-center-left > *{margin:0;}}@media (max-width:544px){.entry-content .wp-block-media-text .wp-block-media-text__content{padding:8% 0;}.wp-block-media-text .wp-block-media-text__media img{width:auto;max-width:100%;}}@media (max-width:921px){.ast-separate-container .ast-article-post,.ast-separate-container .ast-article-single{padding:1.5em 2.14em;}.ast-separate-container #primary,.ast-separate-container #secondary{padding:1.5em 0;}#primary,#secondary{padding:1.5em 0;margin:0;}.ast-left-sidebar #content > .ast-container{display:flex;flex-direction:column-reverse;width:100%;}.ast-author-box img.avatar{margin:20px 0 0 0;}}@media (min-width:922px){.ast-separate-container.ast-right-sidebar #primary,.ast-separate-container.ast-left-sidebar #primary{border:0;}.search-no-results.ast-separate-container #primary{margin-bottom:4em;}}.wp-block-button .wp-block-button__link,{color:#ffffff;}.wp-block-button .wp-block-button__link:hover,.wp-block-button .wp-block-button__link:focus{color:#ffffff;background-color:#3a3a3a;border-color:#3a3a3a;}.wp-block-button .wp-block-button__link{border-style:solid;border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-color:#0170B9;background-color:#0170B9;color:#ffffff;font-family:inherit;font-weight:inherit;line-height:1;border-radius:2px;padding-top:10px;padding-right:40px;padding-bottom:10px;padding-left:40px;}.menu-toggle,button,.ast-button,.ast-custom-button,.button,input#submit,input[type="button"],input[type="submit"],input[type="reset"]{border-style:solid;border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;color:#ffffff;border-color:#0170B9;background-color:#0170B9;border-radius:2px;padding-top:10px;padding-right:40px;padding-bottom:10px;padding-left:40px;font-family:inherit;font-weight:inherit;line-height:1;}button:focus,.menu-toggle:hover,button:hover,.ast-button:hover,.ast-custom-button:hover .button:hover,.ast-custom-button:hover ,input[type=reset]:hover,input[type=reset]:focus,input#submit:hover,input#submit:focus,input[type="button"]:hover,input[type="button"]:focus,input[type="submit"]:hover,input[type="submit"]:focus{color:#ffffff;background-color:#3a3a3a;border-color:#3a3a3a;}@media (min-width:544px){.ast-container{max-width:100%;}}@media (max-width:544px){.ast-separate-container .ast-article-post,.ast-separate-container .ast-article-single,.ast-separate-container .comments-title,.ast-separate-container .ast-archive-description{padding:1.5em 1em;}.ast-separate-container #content .ast-container{padding-left:0.54em;padding-right:0.54em;}.ast-separate-container .ast-comment-list li.depth-1{padding:1.5em 1em;margin-bottom:1.5em;}.ast-separate-container .ast-comment-list .bypostauthor{padding:.5em;}.ast-search-menu-icon.ast-dropdown-active .search-field{width:170px;}.site-branding img,.site-header .site-logo-img .custom-logo-link img{max-width:100%;}}@media (max-width:921px){.ast-mobile-header-stack .main-header-bar .ast-search-menu-icon{display:inline-block;}.ast-header-break-point.ast-header-custom-item-outside .ast-mobile-header-stack .main-header-bar .ast-search-icon{margin:0;}.ast-comment-avatar-wrap img{max-width:2.5em;}.ast-separate-container .ast-comment-list li.depth-1{padding:1.5em 2.14em;}.ast-separate-container .comment-respond{padding:2em 2.14em;}.ast-comment-meta{padding:0 1.8888em 1.3333em;}}@media (max-width:921px){.site-title{display:block;}.ast-archive-description .ast-archive-title{font-size:40px;}.site-header .site-description{display:none;}.entry-title{font-size:30px;}h1,.entry-content h1{font-size:30px;}h2,.entry-content h2{font-size:25px;}h3,.entry-content h3{font-size:20px;}.ast-single-post .entry-title,.page-title{font-size:30px;}}@media (max-width:544px){.site-title{display:block;}.ast-archive-description .ast-archive-title{font-size:40px;}.site-header .site-description{display:none;}.entry-title{font-size:30px;}h1,.entry-content h1{font-size:30px;}h2,.entry-content h2{font-size:25px;}h3,.entry-content h3{font-size:20px;}.ast-single-post .entry-title,.page-title{font-size:30px;}}@media (max-width:921px){html{font-size:85.5%;}}@media (max-width:544px){html{font-size:85.5%;}}@media (min-width:922px){.ast-container{max-width:1240px;}}@font-face {font-family: "Astra";src: url(https://def.h-komei.com/wp-content/themes/astra/assets/fonts/astra.woff) format("woff"),url(https://def.h-komei.com/wp-content/themes/astra/assets/fonts/astra.ttf) format("truetype"),url(https://def.h-komei.com/wp-content/themes/astra/assets/fonts/astra.svg#astra) format("svg");font-weight: normal;font-style: normal;font-display: fallback;}@media (max-width:921px) {.main-header-bar .main-header-bar-navigation{display:none;}}.ast-desktop .main-header-menu.submenu-with-border .sub-menu,.ast-desktop .main-header-menu.submenu-with-border .astra-full-megamenu-wrapper{border-color:#0170B9;}.ast-desktop .main-header-menu.submenu-with-border .sub-menu{border-top-width:2px;border-right-width:0px;border-left-width:0px;border-bottom-width:0px;border-style:solid;}.ast-desktop .main-header-menu.submenu-with-border .sub-menu .sub-menu{top:-2px;}.ast-desktop .main-header-menu.submenu-with-border .sub-menu .menu-link,.ast-desktop .main-header-menu.submenu-with-border .children .menu-link{border-bottom-width:0px;border-style:solid;border-color:#eaeaea;}@media (min-width:922px){.main-header-menu .sub-menu .menu-item.ast-left-align-sub-menu:hover > .sub-menu,.main-header-menu .sub-menu .menu-item.ast-left-align-sub-menu.focus > .sub-menu{margin-left:-0px;}}.ast-small-footer{border-top-style:solid;border-top-width:1px;border-top-color:#7a7a7a;}.ast-small-footer-wrap{text-align:center;}.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .main-header-bar-navigation .ast-search-icon {display: none;}.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-form {padding: 0;display: block;overflow: hidden;}.ast-header-break-point .ast-header-custom-item .widget:last-child {margin-bottom: 1em;}.ast-header-custom-item .widget {margin: 0.5em;display: inline-block;vertical-align: middle;}.ast-header-custom-item .widget p {margin-bottom: 0;}.ast-header-custom-item .widget li {width: auto;}.ast-header-custom-item-inside .button-custom-menu-item .menu-link {display: none;}.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item .ast-custom-button-link {display: none;}.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item .menu-link {display: block;}.ast-header-break-point.ast-header-custom-item-outside .main-header-bar .ast-search-icon {margin-right: 1em;}.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-field,.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon.ast-inline-search .search-field {width: 100%;padding-right: 5.5em;}.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-submit {display: block;position: absolute;height: 100%;top: 0;right: 0;padding: 0 1em;border-radius: 0;}.ast-header-break-point .ast-header-custom-item .ast-masthead-custom-menu-items {padding-left: 20px;padding-right: 20px;margin-bottom: 1em;margin-top: 1em;}.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item {padding-left: 0;padding-right: 0;margin-top: 0;margin-bottom: 0;}.astra-icon-down_arrow::after {content: "\e900";font-family: Astra;}.astra-icon-close::after {content: "\e5cd";font-family: Astra;}.astra-icon-drag_handle::after {content: "\e25d";font-family: Astra;}.astra-icon-format_align_justify::after {content: "\e235";font-family: Astra;}.astra-icon-menu::after {content: "\e5d2";font-family: Astra;}.astra-icon-reorder::after {content: "\e8fe";font-family: Astra;}.astra-icon-search::after {content: "\e8b6";font-family: Astra;}.astra-icon-zoom_in::after {content: "\e56b";font-family: Astra;}.astra-icon-check-circle::after {content: "\e901";font-family: Astra;}.astra-icon-shopping-cart::after {content: "\f07a";font-family: Astra;}.astra-icon-shopping-bag::after {content: "\f290";font-family: Astra;}.astra-icon-shopping-basket::after {content: "\f291";font-family: Astra;}.astra-icon-circle-o::after {content: "\e903";font-family: Astra;}.astra-icon-certificate::after {content: "\e902";font-family: Astra;}.ast-breadcrumbs .trail-browse,.ast-breadcrumbs .trail-items,.ast-breadcrumbs .trail-items li{display:inline-block;margin:0;padding:0;border:none;background:inherit;text-indent:0;}.ast-breadcrumbs .trail-browse{font-size:inherit;font-style:inherit;font-weight:inherit;color:inherit;}.ast-breadcrumbs .trail-items{list-style:none;}.trail-items li::after{padding:0 0.3em;content:"\00bb";}.trail-items li:last-of-type::after{display:none;}.elementor-widget-heading .elementor-heading-title{margin:0;}.elementor-post.elementor-grid-item.hentry{margin-bottom:0;}.woocommerce div.product .elementor-element.elementor-products-grid .related.products ul.products li.product,.elementor-element .elementor-wc-products .woocommerce[class*='columns-'] ul.products li.product{width:auto;margin:0;float:none;}.ast-left-sidebar .elementor-section.elementor-section-stretched,.ast-right-sidebar .elementor-section.elementor-section-stretched{max-width:100%;left:0 !important;}.elementor-template-full-width .ast-container{display:block;}.ast-header-break-point .main-header-bar{border-bottom-width:1px;}@media (min-width:922px){.main-header-bar{border-bottom-width:1px;}}.ast-safari-browser-less-than-11 .main-header-menu .menu-item, .ast-safari-browser-less-than-11 .main-header-bar .ast-masthead-custom-menu-items{display:block;}.main-header-menu .menu-item, #astra-footer-menu .menu-item, .main-header-bar .ast-masthead-custom-menu-items{-js-display:flex;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}.main-header-menu > .menu-item > .menu-link, #astra-footer-menu > .menu-item > .menu-link,{height:100%;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;-js-display:flex;display:flex;}.ast-primary-menu-disabled .main-header-bar .ast-masthead-custom-menu-items{flex:unset;}.main-header-menu .sub-menu .menu-item.menu-item-has-children > .menu-link:after{position:absolute;right:1em;top:50%;transform:translate(0,-50%) rotate(270deg);}.ast-header-break-point .main-header-bar .main-header-bar-navigation .page_item_has_children > .ast-menu-toggle::before, .ast-header-break-point .main-header-bar .main-header-bar-navigation .menu-item-has-children > .ast-menu-toggle::before, .ast-mobile-popup-drawer .main-header-bar-navigation .menu-item-has-children>.ast-menu-toggle::before, .ast-header-break-point .ast-mobile-header-wrap .main-header-bar-navigation .menu-item-has-children > .ast-menu-toggle::before{font-weight:bold;content:"\e900";font-family:Astra;text-decoration:inherit;display:inline-block;}.ast-header-break-point .main-navigation ul.sub-menu .menu-item .menu-link:before{content:"\e900";font-family:Astra;font-size:.65em;text-decoration:inherit;display:inline-block;transform:translate(0, -2px) rotateZ(270deg);margin-right:5px;}.widget_search .search-form:after{font-family:Astra;font-size:1.2em;font-weight:normal;content:"\e8b6";position:absolute;top:50%;right:15px;transform:translate(0, -50%);}.astra-search-icon::before{content:"\e8b6";font-family:Astra;font-style:normal;font-weight:normal;text-decoration:inherit;text-align:center;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}.main-header-bar .main-header-bar-navigation .page_item_has_children > a:after, .main-header-bar .main-header-bar-navigation .menu-item-has-children > a:after, .site-header-focus-item .main-header-bar-navigation .menu-item-has-children > .menu-link:after{content:"\e900";display:inline-block;font-family:Astra;font-size:.6rem;font-weight:bold;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-left:10px;line-height:normal;}.ast-mobile-popup-drawer .main-header-bar-navigation .ast-submenu-expanded>.ast-menu-toggle::before{transform:rotateX(180deg);}.ast-header-break-point .main-header-bar-navigation .menu-item-has-children > .menu-link:after{display:none;}
</style>
<link rel='stylesheet' id='wp-block-library-css'  href='https://def.h-komei.com/wp-includes/css/dist/block-library/style.min.css?ver=5.8.2' media='all' />
<link rel='stylesheet' id='quiz-maker-css'  href='https://def.h-komei.com/wp-content/plugins/quiz-maker/public/css/quiz-maker-public.css?ver=6.2.8.7' media='all' />
<link rel='stylesheet' id='simcal-qtip-css'  href='https://def.h-komei.com/wp-content/plugins/google-calendar-events/assets/css/vendor/jquery.qtip.min.css?ver=3.1.36' media='all' />
<link rel='stylesheet' id='simcal-default-calendar-grid-css'  href='https://def.h-komei.com/wp-content/plugins/google-calendar-events/assets/css/default-calendar-grid.min.css?ver=3.1.36' media='all' />
<link rel='stylesheet' id='simcal-default-calendar-list-css'  href='https://def.h-komei.com/wp-content/plugins/google-calendar-events/assets/css/default-calendar-list.min.css?ver=3.1.36' media='all' />
<link rel='stylesheet' id='elementor-icons-css'  href='https://def.h-komei.com/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.13.0' media='all' />
<link rel='stylesheet' id='elementor-frontend-legacy-css'  href='https://def.h-komei.com/wp-content/plugins/elementor/assets/css/frontend-legacy.min.css?ver=3.5.2' media='all' />
<link rel='stylesheet' id='elementor-frontend-css'  href='https://def.h-komei.com/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=3.5.2' media='all' />
<link rel='stylesheet' id='elementor-post-6-css'  href='https://def.h-komei.com/wp-content/uploads/elementor/css/post-6.css?ver=1630073272' media='all' />
<link rel='stylesheet' id='elementor-pro-css'  href='https://def.h-komei.com/wp-content/plugins/elementor-pro/assets/css/frontend.min.css?ver=3.5.2' media='all' />
<link rel='stylesheet' id='elementor-global-css'  href='https://def.h-komei.com/wp-content/uploads/elementor/css/global.css?ver=1630073452' media='all' />
<link rel='stylesheet' id='elementor-post-1949-css'  href='https://def.h-komei.com/wp-content/uploads/elementor/css/post-1949.css?ver=1640351574' media='all' />
<link rel='stylesheet' id='quiz-maker-admin-css'  href='https://def.h-komei.com/wp-content/plugins/quiz-maker/admin/css/admin.css?ver=6.2.8.7' media='all' />
<link rel='stylesheet' id='astra-child-theme-css-css'  href='https://def.h-komei.com/wp-content/themes/astra-child/style.css?ver=1.0.0' media='all' />
<link rel='stylesheet' id='google-fonts-1-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CKhand%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7COvo%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRock+Salt%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CPoppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CFahkwang%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CPlayfair+Display%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CLora%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CShadows+Into+Light%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CCarrois+Gothic%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=auto&#038;ver=5.8.2' media='all' />
<link rel='stylesheet' id='elementor-icons-shared-0-css'  href='https://def.h-komei.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css?ver=5.15.3' media='all' />
<link rel='stylesheet' id='elementor-icons-fa-solid-css'  href='https://def.h-komei.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/solid.min.css?ver=5.15.3' media='all' />
<!--[if IE]>
<script src='https://def.h-komei.com/wp-content/themes/astra/assets/js/minified/flexibility.min.js?ver=3.6.0' id='astra-flexibility-js'></script>
<script id='astra-flexibility-js-after'>
flexibility(document.documentElement);
</script>
<![endif]-->
<script src='https://def.h-komei.com/wp-includes/js/jquery/jquery.min.js?ver=3.6.0' id='jquery-core-js'></script>
<script src='https://def.h-komei.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
<link rel="https://api.w.org/" href="https://def.h-komei.com/wp-json/" /><link rel="alternate" type="application/json" href="https://def.h-komei.com/wp-json/wp/v2/pages/1949" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://def.h-komei.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://def.h-komei.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.8.2" />
<link rel="canonical" href="/seven_rules" />
<link rel='shortlink' href='https://def.h-komei.com/?p=1949' />
<link rel="alternate" type="application/json+oembed" href="https://def.h-komei.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdef.h-komei.com%2F7rules%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://def.h-komei.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdef.h-komei.com%2F7rules%2F&#038;format=xml" />
<style>.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" /></head>
<body class="page-template page-template-elementor_canvas page page-id-1949 ast-desktop ast-page-builder-template ast-no-sidebar astra-3.6.0 ast-header-custom-item-inside ast-single-post ast-inherit-site-logo-transparent elementor-default elementor-template-canvas elementor-kit-6 elementor-page elementor-page-1949">
			<div data-elementor-type="wp-page" data-elementor-id="1949" class="elementor elementor-1949" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<header class="elementor-section elementor-top-section elementor-element elementor-element-b0a102c elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle" data-id="b0a102c" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1ba6947" data-id="1ba6947" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-ca4d68c elementor-widget elementor-widget-heading" data-id="ca4d68c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default"><span style="font-size: 2rem; font-style: normal; font-weight: 600; background-color: var( --e-global-color-5bb5241 );">モブトリ</span></h2>		</div>
				</div>
				<div class="elementor-element elementor-element-9a11dd2 elementor-widget elementor-widget-menu-anchor" data-id="9a11dd2" data-element_type="widget" data-widget_type="menu-anchor.default">
				<div class="elementor-widget-container">
					<div id="top" class="elementor-menu-anchor"></div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-816a52a" data-id="816a52a" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-14db8cb elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="14db8cb" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;i class=\&quot;fas fa-caret-down\&quot;&gt;&lt;\/i&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
				<div class="elementor-widget-container">
						<nav migration_allowed="1" migrated="0" role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-underline e--animation-fade">
				<ul id="menu-1-14db8cb" class="elementor-nav-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1910"><a href="/" class="elementor-item menu-link">home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1958"><a href="/members" class="elementor-item menu-link">members</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1949 current_page_item menu-item-1957"><a href="/seven_rules" aria-current="page" class="elementor-item elementor-item-active menu-link">7rules</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1968"><a href="/reports" class="elementor-item menu-link">reports</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2265"><a href="/schedules" class="elementor-item menu-link">schedules</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2759"><a href="/galleries" class="elementor-item menu-link">galleries</a></li>
</ul>			</nav>
					<div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
			<i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--open eicon-menu-bar"></i><i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--close eicon-close"></i>			<span class="elementor-screen-only">メニュー</span>
		</div>
			<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" role="navigation" aria-hidden="true">
				<ul id="menu-2-14db8cb" class="elementor-nav-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1910"><a href="/" class="elementor-item menu-link" tabindex="-1">home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1958"><a href="/members" class="elementor-item menu-link" tabindex="-1">members</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1949 current_page_item menu-item-1957"><a href="/seven_rules" aria-current="page" class="elementor-item elementor-item-active menu-link" tabindex="-1">7rules</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1968"><a href="/reports" class="elementor-item menu-link" tabindex="-1">reports</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2265"><a href="/schedules" class="elementor-item menu-link" tabindex="-1">schedules</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2759"><a href="/galleries" class="elementor-item menu-link" tabindex="-1">galleries</a></li>
</ul>			</nav>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</header>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-28aa89c elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="28aa89c" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0790509" data-id="0790509" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-60912c9 elementor-widget elementor-widget-image" data-id="60912c9" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="545" height="160" src="https://def.h-komei.com/wp-content/uploads/2021/06/600_300-1.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://def.h-komei.com/wp-content/uploads/2021/06/600_300-1.jpg 545w, https://def.h-komei.com/wp-content/uploads/2021/06/600_300-1-300x88.jpg 300w" sizes="(max-width: 545px) 100vw, 545px" />														</div>
						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-8e58cfd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8e58cfd" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4e732d4" data-id="4e732d4" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6bb8bb5 elementor-widget-mobile__width-initial elementor-widget elementor-widget-heading" data-id="6bb8bb5" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">①集合は朝7:30</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-8f55295 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="8f55295" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-8297c4c elementor-widget elementor-widget-text-editor" data-id="8297c4c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>モブキャラクターの朝は早い。7時30分<span style="font-size: 15px; color: var( --e-global-color-ba5990a );">には多摩センター駅に集合し、8時には目的地へ向け出発する。到着順に順位が付けられ、最下位の者や遅刻した者は罵倒される。大幅遅刻したものは待たずに置いていく非情さも持ち合わせている。高津は意外と遅刻しない。</span></p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-12acbd0 elementor-fixed elementor-view-default elementor-widget elementor-widget-icon" data-id="12acbd0" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;fixed&quot;}" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<a class="elementor-icon" href="#top">
			<i aria-hidden="true" class="fas fa-arrow-circle-up"></i>			</a>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-d3c3048 elementor-widget elementor-widget-image" data-id="d3c3048" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="768" height="576" src="https://def.h-komei.com/wp-content/uploads/2021/07/集合-768x576.jpg" class="attachment-medium_large size-medium_large" alt="" loading="lazy" srcset="https://def.h-komei.com/wp-content/uploads/2021/07/集合-768x576.jpg 768w, https://def.h-komei.com/wp-content/uploads/2021/07/集合-300x225.jpg 300w, https://def.h-komei.com/wp-content/uploads/2021/07/集合-1024x768.jpg 1024w, https://def.h-komei.com/wp-content/uploads/2021/07/集合-1536x1152.jpg 1536w, https://def.h-komei.com/wp-content/uploads/2021/07/集合-2048x1536.jpg 2048w" sizes="(max-width: 768px) 100vw, 768px" />														</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4a10c59" data-id="4a10c59" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-d0e067b elementor-widget-mobile__width-initial elementor-widget elementor-widget-heading" data-id="d0e067b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">➁スタバじゃんけん</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-a226a47 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="a226a47" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-b93a219 elementor-widget elementor-widget-text-editor" data-id="b93a219" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>恒例となっているスタバじゃんけん。じゃんけんに負けた2名がスターバックスへ向かい、アイスコーヒーを人数分買ってくる。残りのメンバーはレンタカーを借りにいくことになっている。ちなみに石井は直近で2回連続スタバ組になっている。</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-c527a78 elementor-widget elementor-widget-image" data-id="c527a78" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="768" height="416" src="https://def.h-komei.com/wp-content/uploads/2021/07/スタバじゃんけん２-768x416.jpg" class="attachment-medium_large size-medium_large" alt="" loading="lazy" srcset="https://def.h-komei.com/wp-content/uploads/2021/07/スタバじゃんけん２-768x416.jpg 768w, https://def.h-komei.com/wp-content/uploads/2021/07/スタバじゃんけん２-300x163.jpg 300w, https://def.h-komei.com/wp-content/uploads/2021/07/スタバじゃんけん２.jpg 828w" sizes="(max-width: 768px) 100vw, 768px" />														</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-43d0612 elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="43d0612" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f88a5f5" data-id="f88a5f5" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-daa08d9 elementor-widget-mobile__width-initial elementor-widget elementor-widget-heading" data-id="daa08d9" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">➂車内クイズ大会</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-fad027b elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="fad027b" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-a461850 elementor-widget elementor-widget-text-editor" data-id="a461850" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>道中暇なので、車内ではクイズ大会が開かれる。大人気のクイズは”ウミガメのスープ”だが、ネットに上がっているものはやり尽くしたと言っても過言ではない。その他にもナゾナゾや豆知識など、長時間楽しめる内容が盛り沢山となっている。</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-6cb1894 elementor-widget elementor-widget-image" data-id="6cb1894" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="768" height="512" src="https://def.h-komei.com/wp-content/uploads/2021/07/IMG_0480-768x512.jpg" class="attachment-medium_large size-medium_large" alt="" loading="lazy" srcset="https://def.h-komei.com/wp-content/uploads/2021/07/IMG_0480-768x512.jpg 768w, https://def.h-komei.com/wp-content/uploads/2021/07/IMG_0480-300x200.jpg 300w, https://def.h-komei.com/wp-content/uploads/2021/07/IMG_0480-1024x683.jpg 1024w, https://def.h-komei.com/wp-content/uploads/2021/07/IMG_0480-1536x1024.jpg 1536w, https://def.h-komei.com/wp-content/uploads/2021/07/IMG_0480-2048x1365.jpg 2048w" sizes="(max-width: 768px) 100vw, 768px" />														</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ded97cf" data-id="ded97cf" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-a9338dd elementor-widget-mobile__width-initial elementor-widget elementor-widget-heading" data-id="a9338dd" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">➃観光名所には足を運ぶ</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-82752fe elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="82752fe" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-3d8bbbd elementor-widget elementor-widget-text-editor" data-id="3d8bbbd" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>目的地周辺に観光名所がある場合は必ず立ち寄ることになっている。「みんなが行くところには行かない」と斜に構えるような年齢でもなくなってきたことを、メンバー全員理解している。城や寺社仏閣は大好物で、堀の博識さが爆発する場面でもある。</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-85ee656 elementor-widget elementor-widget-image" data-id="85ee656" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="768" height="768" src="https://def.h-komei.com/wp-content/uploads/2021/07/IMG_9777-768x768.jpg" class="attachment-medium_large size-medium_large" alt="" loading="lazy" srcset="https://def.h-komei.com/wp-content/uploads/2021/07/IMG_9777-768x768.jpg 768w, https://def.h-komei.com/wp-content/uploads/2021/07/IMG_9777-300x300.jpg 300w, https://def.h-komei.com/wp-content/uploads/2021/07/IMG_9777-1024x1024.jpg 1024w, https://def.h-komei.com/wp-content/uploads/2021/07/IMG_9777-150x150.jpg 150w, https://def.h-komei.com/wp-content/uploads/2021/07/IMG_9777.jpg 1280w" sizes="(max-width: 768px) 100vw, 768px" />														</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-2bb4606 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2bb4606" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6b9ad4d" data-id="6b9ad4d" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-33c25ce elementor-widget-mobile__width-initial elementor-widget elementor-widget-heading" data-id="33c25ce" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">➄BBQ</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-dca0bd0 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="dca0bd0" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-a71cca9 elementor-widget elementor-widget-text-editor" data-id="a71cca9" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>夏の定番BBQを行うのは必須事項だ。”玉ねぎのホイール焼き”は、モブキャラクターのソウルフードとなっている。野菜はほぼ食べず、肉とウインナーだらけ。たまに椎茸。活躍するのは高津と碓氷。活躍しないのは長谷川。</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-c696b3e elementor-widget elementor-widget-wp-widget-media_video" data-id="c696b3e" data-element_type="widget" data-widget_type="wp-widget-media_video.default">
				<div class="elementor-widget-container">
			<div style="width:100%;" class="wp-video"><!--[if lt IE 9]><script>document.createElement('video');</script><![endif]-->
<video class="wp-video-shortcode" id="video-1949-1" loop="1" preload="auto" controls="controls"><source type="video/mp4" src="https://def.h-komei.com/wp-content/uploads/2021/07/BBQ.mp4?_=1" /><source type="video/mp4" src="http://def.h-komei.com/wp-content/uploads/2021/07/BBQ.mp4?_=1" /><a href="https://def.h-komei.com/wp-content/uploads/2021/07/BBQ.mp4">https://def.h-komei.com/wp-content/uploads/2021/07/BBQ.mp4</a></video></div>		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-30ec231" data-id="30ec231" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-3201e12 elementor-widget-mobile__width-initial elementor-widget elementor-widget-heading" data-id="3201e12" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">➅早朝散歩</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-a65ddb4 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="a65ddb4" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-5b234f9 elementor-widget elementor-widget-text-editor" data-id="5b234f9" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>早朝、有志のみで宿の周辺を散歩する。近所にコンビニがあればコンビニまで。夏の朝の散歩は清々しい気分にさせてくれる。朝に強い田崎と金子は基本参加。</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-5fc9af1 elementor-widget elementor-widget-image" data-id="5fc9af1" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="768" height="576" src="https://def.h-komei.com/wp-content/uploads/2021/07/朝の散歩-768x576.jpg" class="attachment-medium_large size-medium_large" alt="" loading="lazy" srcset="https://def.h-komei.com/wp-content/uploads/2021/07/朝の散歩-768x576.jpg 768w, https://def.h-komei.com/wp-content/uploads/2021/07/朝の散歩-300x225.jpg 300w, https://def.h-komei.com/wp-content/uploads/2021/07/朝の散歩-1024x768.jpg 1024w, https://def.h-komei.com/wp-content/uploads/2021/07/朝の散歩.jpg 1478w" sizes="(max-width: 768px) 100vw, 768px" />														</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-3256def elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3256def" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b26f079" data-id="b26f079" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-92f58b8 elementor-widget-mobile__width-initial elementor-widget elementor-widget-heading" data-id="92f58b8" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">➆お疲れ飲み会</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-bb847eb elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="bb847eb" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-76afd33 elementor-widget elementor-widget-text-editor" data-id="76afd33" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>大型ロケの最後には打ち上げがある。少し早めに多摩センターへ帰り、ピザ屋Ponoか居酒屋くるりでお酒を飲むことになっている。ロケの反省と、来る日常への憂鬱を先延ばしにするため、しこたま飲んで酔っ払うのだ。</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-718dd8e elementor-widget elementor-widget-image" data-id="718dd8e" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="768" height="511" src="https://def.h-komei.com/wp-content/uploads/2021/06/写真_210626_20-768x511.jpg" class="attachment-medium_large size-medium_large" alt="" loading="lazy" srcset="https://def.h-komei.com/wp-content/uploads/2021/06/写真_210626_20-768x511.jpg 768w, https://def.h-komei.com/wp-content/uploads/2021/06/写真_210626_20-300x200.jpg 300w, https://def.h-komei.com/wp-content/uploads/2021/06/写真_210626_20-1024x682.jpg 1024w, https://def.h-komei.com/wp-content/uploads/2021/06/写真_210626_20-1536x1023.jpg 1536w, https://def.h-komei.com/wp-content/uploads/2021/06/写真_210626_20.jpg 1568w" sizes="(max-width: 768px) 100vw, 768px" />														</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-74b6617" data-id="74b6617" data-element_type="column">
			<div class="elementor-column-wrap">
							<div class="elementor-widget-wrap">
								</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<header class="elementor-section elementor-top-section elementor-element elementor-element-4d0845b elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle" data-id="4d0845b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-426f4d1" data-id="426f4d1" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-2d55484 elementor-widget elementor-widget-heading" data-id="2d55484" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default"><span style="font-size: 2rem; font-style: normal; font-weight: 600; background-color: var( --e-global-color-5bb5241 );">モブトリ</span></h2>		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-bc6741a" data-id="bc6741a" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-aa78c87 elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="aa78c87" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;i class=\&quot;fas fa-caret-down\&quot;&gt;&lt;\/i&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
				<div class="elementor-widget-container">
						<nav migration_allowed="1" migrated="0" role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-underline e--animation-fade">
				<ul id="menu-1-aa78c87" class="elementor-nav-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1910"><a href="/" class="elementor-item menu-link">home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1958"><a href="/members" class="elementor-item menu-link">members</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1949 current_page_item menu-item-1957"><a href="/seven_rules" aria-current="page" class="elementor-item elementor-item-active menu-link">7rules</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1968"><a href="/reports" class="elementor-item menu-link">reports</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2265"><a href="/schedules" class="elementor-item menu-link">schedules</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2759"><a href="/galleries" class="elementor-item menu-link">galleries</a></li>
</ul>			</nav>
					<div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
			<i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--open eicon-menu-bar"></i><i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--close eicon-close"></i>			<span class="elementor-screen-only">メニュー</span>
		</div>
			<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" role="navigation" aria-hidden="true">
				<ul id="menu-2-aa78c87" class="elementor-nav-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1910"><a href="/" class="elementor-item menu-link" tabindex="-1">home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1958"><a href="/members" class="elementor-item menu-link" tabindex="-1">members</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1949 current_page_item menu-item-1957"><a href="/seven_rules" aria-current="page" class="elementor-item elementor-item-active menu-link" tabindex="-1">7rules</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1968"><a href="/reports" class="elementor-item menu-link" tabindex="-1">reports</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2265"><a href="/schedules" class="elementor-item menu-link" tabindex="-1">schedules</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2759"><a href="/galleries" class="elementor-item menu-link" tabindex="-1">galleries</a></li>
</ul>			</nav>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</header>
						</div>
						</div>
					</div>
		<link rel='stylesheet' id='mediaelement-css'  href='https://def.h-komei.com/wp-includes/js/mediaelement/mediaelementplayer-legacy.min.css?ver=4.2.16' media='all' />
<link rel='stylesheet' id='wp-mediaelement-css'  href='https://def.h-komei.com/wp-includes/js/mediaelement/wp-mediaelement.min.css?ver=5.8.2' media='all' />
<link rel='stylesheet' id='e-animations-css'  href='https://def.h-komei.com/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=3.5.2' media='all' />
<script id='astra-theme-js-js-extra'>
var astra = {"break_point":"921","isRtl":""};
</script>
<script src='https://def.h-komei.com/wp-content/themes/astra/assets/js/minified/style.min.js?ver=3.6.0' id='astra-theme-js-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/google-calendar-events/assets/js/vendor/jquery.qtip.min.js?ver=3.1.36' id='simcal-qtip-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/google-calendar-events/assets/js/vendor/moment.min.js?ver=3.1.36' id='simcal-fullcal-moment-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/google-calendar-events/assets/js/vendor/moment-timezone-with-data.min.js?ver=3.1.36' id='simcal-moment-timezone-js'></script>
<script id='simcal-default-calendar-js-extra'>
var simcal_default_calendar = {"ajax_url":"\/wp-admin\/admin-ajax.php","nonce":"4b45e52d63","locale":"ja","text_dir":"ltr","months":{"full":["1\u6708","2\u6708","3\u6708","4\u6708","5\u6708","6\u6708","7\u6708","8\u6708","9\u6708","10\u6708","11\u6708","12\u6708"],"short":["1\u6708","2\u6708","3\u6708","4\u6708","5\u6708","6\u6708","7\u6708","8\u6708","9\u6708","10\u6708","11\u6708","12\u6708"]},"days":{"full":["\u65e5\u66dc\u65e5","\u6708\u66dc\u65e5","\u706b\u66dc\u65e5","\u6c34\u66dc\u65e5","\u6728\u66dc\u65e5","\u91d1\u66dc\u65e5","\u571f\u66dc\u65e5"],"short":["\u65e5","\u6708","\u706b","\u6c34","\u6728","\u91d1","\u571f"]},"meridiem":{"AM":"AM","am":"am","PM":"PM","pm":"pm"}};
</script>
<script src='https://def.h-komei.com/wp-content/plugins/google-calendar-events/assets/js/default-calendar.min.js?ver=3.1.36' id='simcal-default-calendar-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/google-calendar-events/assets/js/vendor/imagesloaded.pkgd.min.js?ver=3.1.36' id='simplecalendar-imagesloaded-js'></script>
<script src='https://def.h-komei.com/wp-includes/js/wp-embed.min.js?ver=5.8.2' id='wp-embed-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/elementor-pro/assets/lib/smartmenus/jquery.smartmenus.min.js?ver=1.0.1' id='smartmenus-js'></script>
<script id='mediaelement-core-js-before'>
var mejsL10n = {"language":"ja","strings":{"mejs.download-file":"\u30d5\u30a1\u30a4\u30eb\u3092\u30c0\u30a6\u30f3\u30ed\u30fc\u30c9","mejs.install-flash":"\u3054\u5229\u7528\u306e\u30d6\u30e9\u30a6\u30b6\u30fc\u306f Flash Player \u304c\u7121\u52b9\u306b\u306a\u3063\u3066\u3044\u308b\u304b\u3001\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3055\u308c\u3066\u3044\u307e\u305b\u3093\u3002Flash Player \u30d7\u30e9\u30b0\u30a4\u30f3\u3092\u6709\u52b9\u306b\u3059\u308b\u304b\u3001\u6700\u65b0\u30d0\u30fc\u30b8\u30e7\u30f3\u3092 https:\/\/get.adobe.com\/jp\/flashplayer\/ \u304b\u3089\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3057\u3066\u304f\u3060\u3055\u3044\u3002","mejs.fullscreen":"\u30d5\u30eb\u30b9\u30af\u30ea\u30fc\u30f3","mejs.play":"\u518d\u751f","mejs.pause":"\u505c\u6b62","mejs.time-slider":"\u30bf\u30a4\u30e0\u30b9\u30e9\u30a4\u30c0\u30fc","mejs.time-help-text":"1\u79d2\u9032\u3080\u306b\u306f\u5de6\u53f3\u77e2\u5370\u30ad\u30fc\u3092\u300110\u79d2\u9032\u3080\u306b\u306f\u4e0a\u4e0b\u77e2\u5370\u30ad\u30fc\u3092\u4f7f\u3063\u3066\u304f\u3060\u3055\u3044\u3002","mejs.live-broadcast":"\u751f\u653e\u9001","mejs.volume-help-text":"\u30dc\u30ea\u30e5\u30fc\u30e0\u8abf\u7bc0\u306b\u306f\u4e0a\u4e0b\u77e2\u5370\u30ad\u30fc\u3092\u4f7f\u3063\u3066\u304f\u3060\u3055\u3044\u3002","mejs.unmute":"\u30df\u30e5\u30fc\u30c8\u89e3\u9664","mejs.mute":"\u30df\u30e5\u30fc\u30c8","mejs.volume-slider":"\u30dc\u30ea\u30e5\u30fc\u30e0\u30b9\u30e9\u30a4\u30c0\u30fc","mejs.video-player":"\u52d5\u753b\u30d7\u30ec\u30fc\u30e4\u30fc","mejs.audio-player":"\u97f3\u58f0\u30d7\u30ec\u30fc\u30e4\u30fc","mejs.captions-subtitles":"\u30ad\u30e3\u30d7\u30b7\u30e7\u30f3\/\u5b57\u5e55","mejs.captions-chapters":"\u30c1\u30e3\u30d7\u30bf\u30fc","mejs.none":"\u306a\u3057","mejs.afrikaans":"\u30a2\u30d5\u30ea\u30ab\u30fc\u30f3\u30b9\u8a9e","mejs.albanian":"\u30a2\u30eb\u30d0\u30cb\u30a2\u8a9e","mejs.arabic":"\u30a2\u30e9\u30d3\u30a2\u8a9e","mejs.belarusian":"\u30d9\u30e9\u30eb\u30fc\u30b7\u8a9e","mejs.bulgarian":"\u30d6\u30eb\u30ac\u30ea\u30a2\u8a9e","mejs.catalan":"\u30ab\u30bf\u30ed\u30cb\u30a2\u8a9e","mejs.chinese":"\u4e2d\u56fd\u8a9e","mejs.chinese-simplified":"\u4e2d\u56fd\u8a9e (\u7c21\u4f53\u5b57)","mejs.chinese-traditional":"\u4e2d\u56fd\u8a9e (\u7e41\u4f53\u5b57)","mejs.croatian":"\u30af\u30ed\u30a2\u30c1\u30a2\u8a9e","mejs.czech":"\u30c1\u30a7\u30b3\u8a9e","mejs.danish":"\u30c7\u30f3\u30de\u30fc\u30af\u8a9e","mejs.dutch":"\u30aa\u30e9\u30f3\u30c0\u8a9e","mejs.english":"\u82f1\u8a9e","mejs.estonian":"\u30a8\u30b9\u30c8\u30cb\u30a2\u8a9e","mejs.filipino":"\u30d5\u30a3\u30ea\u30d4\u30f3\u8a9e","mejs.finnish":"\u30d5\u30a3\u30f3\u30e9\u30f3\u30c9\u8a9e","mejs.french":"\u30d5\u30e9\u30f3\u30b9\u8a9e","mejs.galician":"\u30ac\u30ea\u30b7\u30a2\u8a9e","mejs.german":"\u30c9\u30a4\u30c4\u8a9e","mejs.greek":"\u30ae\u30ea\u30b7\u30e3\u8a9e","mejs.haitian-creole":"\u30cf\u30a4\u30c1\u8a9e","mejs.hebrew":"\u30d8\u30d6\u30e9\u30a4\u8a9e","mejs.hindi":"\u30d2\u30f3\u30c7\u30a3\u30fc\u8a9e","mejs.hungarian":"\u30cf\u30f3\u30ac\u30ea\u30fc\u8a9e","mejs.icelandic":"\u30a2\u30a4\u30b9\u30e9\u30f3\u30c9\u8a9e","mejs.indonesian":"\u30a4\u30f3\u30c9\u30cd\u30b7\u30a2\u8a9e","mejs.irish":"\u30a2\u30a4\u30eb\u30e9\u30f3\u30c9\u8a9e","mejs.italian":"\u30a4\u30bf\u30ea\u30a2\u8a9e","mejs.japanese":"\u65e5\u672c\u8a9e","mejs.korean":"\u97d3\u56fd\u8a9e","mejs.latvian":"\u30e9\u30c8\u30d3\u30a2\u8a9e","mejs.lithuanian":"\u30ea\u30c8\u30a2\u30cb\u30a2\u8a9e","mejs.macedonian":"\u30de\u30b1\u30c9\u30cb\u30a2\u8a9e","mejs.malay":"\u30de\u30ec\u30fc\u8a9e","mejs.maltese":"\u30de\u30eb\u30bf\u8a9e","mejs.norwegian":"\u30ce\u30eb\u30a6\u30a7\u30fc\u8a9e","mejs.persian":"\u30da\u30eb\u30b7\u30a2\u8a9e","mejs.polish":"\u30dd\u30fc\u30e9\u30f3\u30c9\u8a9e","mejs.portuguese":"\u30dd\u30eb\u30c8\u30ac\u30eb\u8a9e","mejs.romanian":"\u30eb\u30fc\u30de\u30cb\u30a2\u8a9e","mejs.russian":"\u30ed\u30b7\u30a2\u8a9e","mejs.serbian":"\u30bb\u30eb\u30d3\u30a2\u8a9e","mejs.slovak":"\u30b9\u30ed\u30d0\u30ad\u30a2\u8a9e","mejs.slovenian":"\u30b9\u30ed\u30d9\u30cb\u30a2\u8a9e","mejs.spanish":"\u30b9\u30da\u30a4\u30f3\u8a9e","mejs.swahili":"\u30b9\u30ef\u30d2\u30ea\u8a9e","mejs.swedish":"\u30b9\u30a6\u30a7\u30fc\u30c7\u30f3\u8a9e","mejs.tagalog":"\u30bf\u30ac\u30ed\u30b0\u8a9e","mejs.thai":"\u30bf\u30a4\u8a9e","mejs.turkish":"\u30c8\u30eb\u30b3\u8a9e","mejs.ukrainian":"\u30a6\u30af\u30e9\u30a4\u30ca\u8a9e","mejs.vietnamese":"\u30d9\u30c8\u30ca\u30e0\u8a9e","mejs.welsh":"\u30a6\u30a7\u30fc\u30eb\u30ba\u8a9e","mejs.yiddish":"\u30a4\u30c7\u30a3\u30c3\u30b7\u30e5\u8a9e"}};
</script>
<script src='https://def.h-komei.com/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=4.2.16' id='mediaelement-core-js'></script>
<script src='https://def.h-komei.com/wp-includes/js/mediaelement/mediaelement-migrate.min.js?ver=5.8.2' id='mediaelement-migrate-js'></script>
<script id='mediaelement-js-extra'>
var _wpmejsSettings = {"pluginPath":"\/wp-includes\/js\/mediaelement\/","classPrefix":"mejs-","stretching":"responsive"};
</script>
<script src='https://def.h-komei.com/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=5.8.2' id='wp-mediaelement-js'></script>
<script src='https://def.h-komei.com/wp-includes/js/mediaelement/renderers/vimeo.min.js?ver=4.2.16' id='mediaelement-vimeo-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/elementor-pro/assets/js/webpack-pro.runtime.min.js?ver=3.5.2' id='elementor-pro-webpack-runtime-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.5.2' id='elementor-webpack-runtime-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.5.2' id='elementor-frontend-modules-js'></script>
<script id='elementor-pro-frontend-js-before'>
var ElementorProFrontendConfig = {"ajaxurl":"https:\/\/def.h-komei.com\/wp-admin\/admin-ajax.php","nonce":"7b1d930024","urls":{"assets":"https:\/\/def.h-komei.com\/wp-content\/plugins\/elementor-pro\/assets\/","rest":"https:\/\/def.h-komei.com\/wp-json\/"},"i18n":{"toc_no_headings_found":"No headings were found on this page."},"shareButtonsNetworks":{"facebook":{"title":"Facebook","has_counter":true},"twitter":{"title":"Twitter"},"linkedin":{"title":"LinkedIn","has_counter":true},"pinterest":{"title":"Pinterest","has_counter":true},"reddit":{"title":"Reddit","has_counter":true},"vk":{"title":"VK","has_counter":true},"odnoklassniki":{"title":"OK","has_counter":true},"tumblr":{"title":"Tumblr"},"digg":{"title":"Digg"},"skype":{"title":"Skype"},"stumbleupon":{"title":"StumbleUpon","has_counter":true},"mix":{"title":"Mix"},"telegram":{"title":"Telegram"},"pocket":{"title":"Pocket","has_counter":true},"xing":{"title":"XING","has_counter":true},"whatsapp":{"title":"WhatsApp"},"email":{"title":"Email"},"print":{"title":"Print"}},"facebook_sdk":{"lang":"ja","app_id":""},"lottie":{"defaultAnimationUrl":"https:\/\/def.h-komei.com\/wp-content\/plugins\/elementor-pro\/modules\/lottie\/assets\/animations\/default.json"}};
</script>
<script src='https://def.h-komei.com/wp-content/plugins/elementor-pro/assets/js/frontend.min.js?ver=3.5.2' id='elementor-pro-frontend-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2' id='elementor-waypoints-js'></script>
<script src='https://def.h-komei.com/wp-includes/js/jquery/ui/core.min.js?ver=1.12.1' id='jquery-ui-core-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6' id='swiper-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=3.5.2' id='share-link-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.9.0' id='elementor-dialog-js'></script>
<script id='elementor-frontend-js-before'>
var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false},"i18n":{"shareOnFacebook":"Facebook \u3067\u5171\u6709","shareOnTwitter":"Twitter \u3067\u5171\u6709","pinIt":"\u30d4\u30f3\u3059\u308b","download":"\u30c0\u30a6\u30f3\u30ed\u30fc\u30c9","downloadImage":"\u753b\u50cf\u3092\u30c0\u30a6\u30f3\u30ed\u30fc\u30c9","fullscreen":"\u30d5\u30eb\u30b9\u30af\u30ea\u30fc\u30f3","zoom":"\u30ba\u30fc\u30e0","share":"\u30b7\u30a7\u30a2","playVideo":"\u52d5\u753b\u518d\u751f","previous":"\u524d","next":"\u6b21","close":"\u9589\u3058\u308b"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"responsive":{"breakpoints":{"mobile":{"label":"\u30e2\u30d0\u30a4\u30eb","value":767,"default_value":767,"direction":"max","is_enabled":true},"mobile_extra":{"label":"Mobile Extra","value":880,"default_value":880,"direction":"max","is_enabled":false},"tablet":{"label":"\u30bf\u30d6\u30ec\u30c3\u30c8","value":1024,"default_value":1024,"direction":"max","is_enabled":true},"tablet_extra":{"label":"Tablet Extra","value":1200,"default_value":1200,"direction":"max","is_enabled":false},"laptop":{"label":"\u30ce\u30fc\u30c8\u30d6\u30c3\u30af","value":1366,"default_value":1366,"direction":"max","is_enabled":false},"widescreen":{"label":"\u30ef\u30a4\u30c9\u30b9\u30af\u30ea\u30fc\u30f3","value":2400,"default_value":2400,"direction":"min","is_enabled":false}}},"version":"3.5.2","is_static":false,"experimentalFeatures":{"e_import_export":true,"e_hidden_wordpress_widgets":true,"theme_builder_v2":true,"landing-pages":true,"elements-color-picker":true,"favorite-widgets":true,"admin-top-bar":true,"form-submissions":true},"urls":{"assets":"https:\/\/def.h-komei.com\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"body_background_background":"classic","active_breakpoints":["viewport_mobile","viewport_tablet"],"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description"},"post":{"id":1949,"title":"7rules%20%E2%80%93%20h.komei","excerpt":"","featuredImage":false}};
</script>
<script src='https://def.h-komei.com/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.5.2' id='elementor-frontend-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/elementor-pro/assets/js/preloaded-elements-handlers.min.js?ver=3.5.2' id='pro-preloaded-elements-handlers-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/elementor/assets/js/preloaded-modules.min.js?ver=3.5.2' id='preloaded-modules-js'></script>
<script src='https://def.h-komei.com/wp-content/plugins/elementor-pro/assets/lib/sticky/jquery.sticky.min.js?ver=3.5.2' id='e-sticky-js'></script>
			<script>
			/(trident|msie)/i.test(navigator.userAgent)&&document.getElementById&&window.addEventListener&&window.addEventListener("hashchange",function(){var t,e=location.hash.substring(1);/^[A-z0-9_-]+$/.test(e)&&(t=document.getElementById(e))&&(/^(?:a|select|input|button|textarea)$/i.test(t.tagName)||(t.tabIndex=-1),t.focus())},!1);
			</script>
				</body>
</html>
